.overlay {
  display: flex;
  place-content: center;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 1;
}

.message{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}